@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

@tailwind base;

@layer base {
  body {
    background-color: black;
    color: white;
  }

  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
  }

  .dirt-background {
    /* background-image: radial-gradient(white 1px, transparent 0);
    background-size: 100px 100px; */
  }
}

@tailwind components;
@tailwind utilities;
